@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Home Page</h1>
    <h1 class="display-4">Welcome to Eyanla's Den</h1>

</div>
<h2>Quirky oneliner about the site goes here.</h2>

<div class="text-center">
    <img src="https://i.pinimg.com/736x/0c/ea/7c/0cea7cced39e4b08c03bf7e6aa1f4a3c.jpg" class="img-fluid" alt="catgirl" />

    <p style="margin-top:0.5rem;">
        A place for comic book and anime lovers can gather and  <span style="color:aquamarine;">share</span>.
        Above image by Kalanji vision. https://www.pinterest.com/Kalanji/
           </p>
</div>
<article class="all-browsers">
    <h2>COMIC/MANGA TITLE this will "pop up" with image uploaded by user, or default image. w/table</h2>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Manga</th>
                <th>Year Read/Purchased</th>
                <th>Mangaka</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>The Rising of The Shield Hero (Tate no Yusha no Nariagari)</td>
                <td>2020</td>
                <td>Aneko Yusagi</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>The Rising of The Shield Hero (Tate no Yusha no Nariagari)</td>
                <td>2020</td>
                <td>Aneko Yusagi</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>The Rising of The Shield Hero (Tate no Yusha no Nariagari)</td>
                <td>2020</td>
                <td>Aneko Yusagi</td>
            </tr>
        </tbody>

    </table>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Comic</th>
                <th>Year Read/Purchased</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Spawn</td>
                <td>1997</td>
                <td>Todd McFarlane</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>Spawn</td>
                <td>1997</td>
                <td>Todd McFarlane</td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>Spawn</td>
                <td>1997</td>
                <td>Todd McFarlane</td>
            </tr>
        </tbody>

    </table>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
    <article class="browser">
        <h2>MY CONTENT</h2>
        <p>written as Author's TITLE ie "Marvel Comic's XMEN"</p>
    </article>
</article>