<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eyanla's Den</title>
</head>
<body>
    
    <div class="text-center">
        @RenderBody()
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="Site.css" />

        @*<style>

                @font-face {
                    font-family: myFirstFont;
                    src: url(sansation_bold.woff);
                }

                @font-face {
                    font-family: myFirstFont;
                    src: url(sansation_bold.woff);
                    font-weight: bold;
                }

                * {
                    font-family: myFirstFont;
                }
            </style>*@

       
    </div>
</body>
</html>
